{% extends "base.html" %}

{% block title %}
        Create | Blogarithm
{% endblock %}

{% block stylesheets %}
				
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
				<link rel="preconnect" href="https://fonts.gstatic.com">
				<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> 
				<link rel="stylesheet" href="/static/css/auth.css">
{% endblock %}

{% block js_libs %}

<script src="https://kit.fontawesome.com/e455f2df59.js" crossorigin="anonymous"></script>

{% endblock %} 

{% block navbar %}

{% endblock %} 

				


{% block content %}
			<main> 
			
				<div class="main-area"> 
						<div class="tabs">
							  <ul>
								<li class="is-active"><a id="login" onclick="tabchange(this.id)">LOGIN</a></li>
								<li><a id="signup" onclick="tabchange(this.id)">SIGN UP</a></li>
								
							  </ul>
						</div>
						<div class="signup" >
						<!-- REGISTRATION FIELDS  -->  
						<form>
							<div class="page-1">
								<div class="field">
								  
								  <div class="control">
									<input class="input" type="email" placeholder="Email Id.">
								  </div>
								</div>

								<div class="field">
									<div class="control">
										<input class="input" type="text" placeholder="User Name">
									</div>
								</div>
								
								<input type="hidden" name="next" value="{{next}}">
								
								<div class="field">
								  
								  <div class="control">
									<input class="input" type="password" placeholder="Password">
								  </div>
								</div>
								
								<div class="field">
								  
								  <div class="control">
									<input class="input" type="password" placeholder="Confirm Password">
								  </div>
								</div>
							
							
							
								<button type="button" class="button is-success is-medium" onclick="next()"> NEXT </button>
							</div>
						
						<!-- OTP VERIFICATION --> 
							<div class="page-2">
								<div class="field" >
									  
									  <div class="control">
										<input class="input" type="text" placeholder="ENTER OTP">
									  </div>
								</div>
								<input type="hidden" name="hashed-otp">
								
								
								<button class="button is-success is-medium"> SUBMIT</button>
								
								<button class="button is-success is-medium"> RESEND OTP</button>
							</div>
						</form>
						
						
						</div>
						
						
						
						<div class="login">
						<!-- LOGIN FIELDS --> 
						<form>
							WELCOME LOGIN AREA
						</form>
						
						
						</div>
				
				
				
				</div>
				
				
				
				<div class="icon-area"> 
				<!--  GOOGLE  ICON , TWITTER ICONS -->
					
					<i class="fab fa-google-plus-square fa-5x"></i>
					<i class="fab fa-twitter-square fa-5x"></i>
					<i class="fab fa-github fa-5x"></i>
					
					
					
				</div>
				
				

			</main>




{% endblock %} 

{% block scripts %}
<script src="/static/js/auth.js" type="text/javascript" ></script>

<script type="text/javascript">
		
		document.getElementsByClassName("login")[0].style.display="block";
		document.getElementsByClassName("signup")[0].style.display="None";

</script>

{% endblock %}