<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                
                <title>
                        {% block title %}
                                Blogarithm
                        {% endblock %}
                </title>
                <link rel="shortcut icon" type="images/png" href="/static/image/B-min.png">
                        
                {% block stylesheets %}
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
                         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                        <link rel="preconnect" href="https://fonts.gstatic.com">
                        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> 
                {% endblock %}
				
				

                {% block js_libs %}
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                {% endblock %}

        </head>
        <body>
                {% block scripts %}
                        <script type="text/javascript">
                    {% if session['username'] is defined %}
                            document.addEventListener('DOMContentLoaded', function() {
                                var elems = document.querySelectorAll('.dropdown-trigger');
                                var instances = M.Dropdown.init(elems);
                              });
                    {% endif %}
                            document.addEventListener('DOMContentLoaded', function() {
                                var elems = document.querySelectorAll('.sidenav');
                                var instances = M.Sidenav.init(elems, {draggable: true});
                              });
                        </script>
                {% endblock %}
                
                {% block navbar %}

                  <nav class="nav-hidden">
                    <div class="nav-wrapper">
                            <a href="/" class="brand-logo">Blogarithm</a>
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">

                        {% if  session['username'] is defined %}

                            <li><a href="#">Published Blogs</a></li>
                                
                            <li><a href="/blog-create">
                                <i class="material-icons left">add</i> Publish Blog</a></li>
                            <li>
                                <a class="dropdown-trigger" data-target="dropdown1" href="#!">
                                {{ session['username'] }}
                                <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                    </ul>
                        <!-- Dropdown -->
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="#">Profile</a></li>
                        <li>
                                <a href="/auth/logout">Logout</a>
                        </li>
                    </ul>

                        {% else %}

                        <li><a href="/auth?next={{ request.path }}">Login | Sign up</a></li>
                      </ul>
                        {% endif %}
                    </div>
                  </nav>

                {% endblock %}


                {% block hamburger_menu %}
                        <!-- Hamburger -->
                    {% if session['username'] is defined %}
                        <ul class="sidenav" id="mobile-demo">
                            <li><a class="waves-effect" href="#">Published Blogs</a></li>
                            <li><a class="waves-effect" href="/blog-create">
                                <i class="material-icons left">add</i> Publish Blog</a></li>
                            <li>
                                <li><div class="divider"></div></li>
                                <li>
                                <a class="subheader">
                                {{ session['username'] }}
                                </a>
                            </li>
                           <li><a class="waves-effect" href="/">Profile</a></li>
                            <li>
                                    <a class="waves-effect" href="/auth/logout">Logout</a>
                            </li> 
                        </ul>
                    {% else %}
                        <ul class="sidenav" id="mobile-demo">
                            <li><a class="subheader">Login or Sign up</a></li>
                            <li><div class="divider"></div></li>
                            <li><a class="waves-effect" href="/auth?next={{ request.path }}">Login | Sign up</a></li>
                        </ul>
                    {% endif %}
                {% endblock %}

                {% block content %}
                        {# Replaceable Page Content #}
                {% endblock %}

        </body>
</html>
