{% extends "base.html" %}

{% block title %}
        Create | Blogarithm
{% endblock %}

{% block stylesheets %}
				{{ super() }}
				<link rel="stylesheet"  href="/static/css/blog-edit.css">
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
				<link rel="preconnect" href="https://fonts.gstatic.com">
				
				<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> 
				<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
{% endblock %}


{% block js_libs %}

{{ super() }} 
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}

{% block scripts %} 
	{{ super() }}
<script src="/static/js/blog-edit.js" type="text/javascript"></script>
<script type="text/javascript">

var simplemde; 
window.onload = function(){ 
	simplemde = new SimpleMDE({
	element : document.getElementById("blog"),
	autosave: {
		enabled: true,
		uniqueId: "MyUniqueID",
		delay: 1000,
	}, 
	spellChecker: true , 
	hideIcons: ["guide"] , 
	forceSync: true , 
	
	renderingConfig: {
		singleLineBreaks: false,
		codeSyntaxHighlighting: true,
	}});
} 

	
</script>

{% endblock %}

{% block content %}
		 <div class="content"> 
			<h2> PUBLISH YOUR BLOG </h2>
			
			<form class="input-field" id="myform" action="/blog-create" method="post">
				<input placeholder="BLOG TITLE"  name="blog-title"  id="blog-title" type="text" value="{{title}}" class="validate" required>
				<div class="switch">
					<label>
					  <span class="label">Make a Private Post</span>
					  <input name="bswitch" type="checkbox" id="bswitch">
					  <span class="lever"></span>
					  
					</label>
				</div>
				<input name="private" id="private" value="false" type="hidden">

				<div class="markdown"> 
				<p><span class="label">Content</span></p>
				<textarea name="content" id="blog" required>{{content}}</textarea>
				</div> 
				
				<p id="error" class="error"></p>

				<button type="button" class="waves-effect waves-light btn" onclick="createblog()" >PUBLISH</button>
				
			</form>
			
		</div> 
   
{% endblock %}
