{% extends "base.html" %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block title %}
        Home | Blogarithm
{% endblock %}

{% block navbar %}
    <div class="navbar-fixed">
        {{ super() }}
    </div>
{% endblock %}

{% block content %}
    <main>
    <div class="header">
        <h2>Blogarithm</h2>
        <p>SHARE TO OPEN A NEW WORLD</p>
        <div class="arrow-container">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="posts">
        <h3 style="margin-left: 20px">Recent Blogs</h3>
        <div class="divider"></div>

<ul>

            <li>
                <a href="/profile/{{uid}}">
                    <div class="author"> John Doe </div>
                </a>
                <div class="divider"></div>
                <a href="/">
                    <div class="title">
                       This is a long long blog title, as long as it can be, I need it to be a long title for UI testing
                    </div>
                </a>
                <div class="date">
                    21 May 2021 
                </div>
            </li>


            <li>
                <a href="/profile/{{uid}}">
                    <div class="author"> Pep Guardiola </div>
                </a>
                <div class="divider"></div>
                <a href="/">
                    <div class="title">
                       We are tired fuck u!!!
                    </div>
                </a>
                <div class="date">
                    21 May 2019
                </div>
            </li>

            <li>
                <a href="/profile/{{uid}}"> 
                    <div class="author"> Jane Doe </div>
                </a>
                <div class="divider"></div>
                <a href="/">
                    <div class="title">
                       This is a short title.
                    </div>
                </a>
                <div class="date">
                    21 May 2021 
                </div>
            </li>


        </ul>
    </div>
    </main>
{% endblock %}
        
{% block scripts %}
    {{ super() }}
    <script src="/static/js/index.js"></script>
{% endblock %}
