* {
	padding : 0;
	margin : 0;
	box-sizing : border-box; 
}

.alert {
  padding: 20px;
  background-color: rgba(250, 60, 70, 0.3);
  color: black;
	text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #f44336;
}

input {
	margin-bottom: 5%;
}


.page-1 {
	display : block;
}

.page-2 {
	display : None ;
}

.main-area {
	margin:auto; 
	width : 50vw;
	height : 70%;
	padding-top: 10vh;
}

.icon-area {
	margib-top: 20px;
	margin : auto;
	width : 50vw;
	height : 30%;
}

main {
	 width : 100vw;
	 height : 100vh;
	 position: absolute;
}

.button.loader {
	border-radius: 100px;
	height: 60px;
	width: 100px;
}


.input.exists {
	background-color: rgba(255, 100, 50, 0.4);
}

.input{

    border: 1px solid #000;

}

.input::placeholder{

    font-weight: bold;
    color: gray;

}

i {
	margin : 5.5vw;
	cursor: pointer;
	font-size: 6vw;
}

@media screen and (max-width: 601px) {
	.main-area {
		width: 75vw;
		height: 68%;
	}

	.icon-area {
		height: 32%;
	}
	
	i {
		margin : 3vw;
		font-size: 10vw;
	}
}

@media screen and (min-width: 602px) {
	i {
		font-size: 7vw;
		margin : 4.7vw;
	}
}

/* @media screen and (max-width: ) */
