nav{

    background-color: #13131f;
    color: #e1dfed;

}

nav .nav-wrapper .brand-logo {
    margin-left: 10px;
}

.overlay{

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: #ffffffff;
    opacity: 1;

}


.preloader-wrapper.big.active{

    margin-left: 46vw;
    margin-top: 43vh;
    width: 7vw;
    height: 7vw;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    font-weight: bold;
}

i.right, i.left, 
.sidenav li > a > i.material-icons.left {
    margin: 0 0 0 0; 
}

#blogtitle{

    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 5vw;

}

#blogcontent{

    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2vw;

}

.comments{

    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;

}

.comments #text{

    font-size: 1vw;

}

.comments textarea{

    font-size: 1vw;
    height: 6vh;
    width: 100%;
    display: inline-block;

}

.comments #commentsubmit{
    
    margin-top: 1vw;
    margin-left: 0.2vw;
    width: 60%;
    font-size: 5vw;

}

@media screen and (max-width:768px){

    #blogtitle{

        font-size: 11vw;

    }

    #blogcontent{

        font-size: 7vw;

    }

    .comments #commentsubmit{

        font-size: 25vw;
        width: 90%;

    }

    .preloader-wrapper.big.active{

        margin-left: 46vw;
        margin-top: 43vh;
        width: 15vw;
        height: 15vw;

    }


}

@media screen and (max-width:1000px){

    #blogtitle{

        font-size: 11vw;

    }

    #blogcontent{

        font-size: 6vw;

    }

    .comments #commentsubmit{

        font-size: 13vw;
        width: 90%;

    }

    .preloader-wrapper.big.active{

        margin-left: 46vw;
        margin-top: 43vh;
        width: 15vw;
        height: 15vw;

    }

}
