* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #13131f;
    color: #e1dfed;
    transition: all .5s ease-in-out;
}

.navbar-fixed {
    z-index: 990;
}

nav.nav-hidden {
    opacity: 0;
    pointer-events: none;
}

nav.nav-transparent {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: unset;

}

nav .nav-wrapper .brand-logo {
    margin-left: 10px;
}

i {
    margin: 5px;
}

main {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
}


.header {
    height: 100vh;
    width: 100%;
    background: url('/static/image/CamareDesk.jpg') center no-repeat;
    background-size: 100% 100%;;
    text-align: center;
    color: #0b0b0b;
    text-shadow: 1px 0px #e9e9f5;
    float: left;
}

.header h2 {
    margin-top: 43vh;
    font-size: 5vw;
}

.header p {
    margin-top: 10px;
    font-size: 2vw;
}

.posts {
    float: left;
    width: 100%;
}
