* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #13131f;
    color: #e1dfed;
    transition: all .5s ease-in-out;
}

nav.nav-hidden {
    opacity: 0;
    pointer-events: none;
}

nav.nav-transparent {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: unset;

}

nav .nav-wrapper .brand-logo {
    margin-left: 10px;
}

a {
    font-weight: bold;
}

i.right, i.left, 
.sidenav li > a > i.material-icons.left {
    margin: 0 0 0 0; 
}

main {
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
}


.header {
    height: 100vh;
    width: 100%;
    background: url('/static/image/CamareDesk.jpg') center no-repeat;
    background-size: 100% 100%;;
    text-align: center;
    color: #0b0b0b;
    text-shadow: 1px 0px #e9e9f5;
    float: left;
}

.header h2 {
    margin-top: 43vh;
    font-size: 5vw;
}

.header p {
    margin-top: 10px;
    font-size: 2vw;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11vw;
}

.hide-arrow-container {
    opacity: 0;
}

.arrow {
  position: absolute;
  width: 3.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  -webkit-animation: move-arrow 3s ease-out infinite;
          animation: move-arrow 3s ease-out infinite;
}

.arrow:first-child {
  -webkit-animation: move-arrow 3s ease-out 1s infinite;
          animation: move-arrow 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
  -webkit-animation: move-arrow 3s ease-out 2s infinite;
          animation: move-arrow 3s ease-out 2s infinite;
}

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.arrow:before {
  left: 0;
  transform: skewY(20deg);
}

.arrow:after {
  right: 0;
  width: 50%;
  transform: skewY(-20deg);
}

@-webkit-keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

.posts {
    float: left;
    width: 100%;
}


@media screen and (max-width: 992px) {
    .header {
        height: 70vh;
    }

    .header h2 {
        margin-top: 26vh;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 50vh;
    }

    .header h2 {
        margin-top: 21vh;
        font-size: 7vw;
    }

    .header p {
        font-size: 4vw;
    }
}
